@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Harlin Acero Acero</h1>
    <h3>Engineer Software</h3>
    <p>About me <a href="https://github.com/harlinacero">I'm a software engigeer.</a>.</p>
</div>
