@{
    ViewData["Title"] = "Home Page";
}

<div class="title">
    <h1 class="">Harlin Acero Acero</h1>
</div>
<div class="text-center">
    <div class="image">
        <img src="https://avatars.githubusercontent.com/u/18670200?v=4" width="50" />
    </div>
    <div class="text">
        <h3>Engineer Software</h3>
        <p>About me <a href="https://github.com/harlinacero">I'm a software engigeer.</a>.</p>
    </div>
</div>
