html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.title {
    display: flex;
    width: 100%;
    text-align: center;
}

.title h1 {
    width: 100%;
}

.body-text {
    display: flex;
    width: 100%;
}

    .body-text .image img {
        width: 30%;
        border-radius: 50%;
        width: 250px;
    }

    .body-text .text {
        width: 70%;
        padding: 1em;
        text-align: right;
    }
